fstrahij_projekt/fstrahij_aplikacija_2_web/web/WEB-INF/wsdl/localhost_8084/fstrahij_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.fstrahij.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.fstrahij.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.fstrahij.nwtis.foi.org/" schemaLocation="http://localhost:8084/fstrahij_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajZadnjeMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="nZadnjihMeteoPodatkaZaUredjaj">
<part name="parameters" element="tns:nZadnjihMeteoPodatkaZaUredjaj"/>
</message>
<message name="nZadnjihMeteoPodatkaZaUredjajResponse">
<part name="parameters" element="tns:nZadnjihMeteoPodatkaZaUredjajResponse"/>
</message>
<message name="dajMeteoPodatkeZaIoTUIntervalu">
<part name="parameters" element="tns:dajMeteoPodatkeZaIoTUIntervalu"/>
</message>
<message name="dajMeteoPodatkeZaIoTUIntervaluResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaIoTUIntervaluResponse"/>
</message>
<message name="dajMeteoPodatakZaUredjaj">
<part name="parameters" element="tns:dajMeteoPodatakZaUredjaj"/>
</message>
<message name="dajMeteoPodatakZaUredjajResponse">
<part name="parameters" element="tns:dajMeteoPodatakZaUredjajResponse"/>
</message>
<message name="dajAdresuZaUredjaj">
<part name="parameters" element="tns:dajAdresuZaUredjaj"/>
</message>
<message name="dajAdresuZaUredjajResponse">
<part name="parameters" element="tns:dajAdresuZaUredjajResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajZadnjeMeteoPodatkeZaUredjaj">
<input wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredjajRequest" message="tns:dajZadnjeMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredjajResponse" message="tns:dajZadnjeMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="nZadnjihMeteoPodatkaZaUredjaj">
<input wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/nZadnjihMeteoPodatkaZaUredjajRequest" message="tns:nZadnjihMeteoPodatkaZaUredjaj"/>
<output wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/nZadnjihMeteoPodatkaZaUredjajResponse" message="tns:nZadnjihMeteoPodatkaZaUredjajResponse"/>
</operation>
<operation name="dajMeteoPodatkeZaIoTUIntervalu">
<input wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaIoTUIntervaluRequest" message="tns:dajMeteoPodatkeZaIoTUIntervalu"/>
<output wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaIoTUIntervaluResponse" message="tns:dajMeteoPodatkeZaIoTUIntervaluResponse"/>
</operation>
<operation name="dajMeteoPodatakZaUredjaj">
<input wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatakZaUredjajRequest" message="tns:dajMeteoPodatakZaUredjaj"/>
<output wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatakZaUredjajResponse" message="tns:dajMeteoPodatakZaUredjajResponse"/>
</operation>
<operation name="dajAdresuZaUredjaj">
<input wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajAdresuZaUredjajRequest" message="tns:dajAdresuZaUredjaj"/>
<output wsam:Action="http://serveri.ws.fstrahij.nwtis.foi.org/GeoMeteoWS/dajAdresuZaUredjajResponse" message="tns:dajAdresuZaUredjajResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajZadnjeMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nZadnjihMeteoPodatkaZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeZaIoTUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatakZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAdresuZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/fstrahij_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>