fstrahij_projekt/fstrahij_aplikacija_2_web/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/fstrahij_aplikacija_1/GeoMeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://serveri.ws.fstrahij.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.fstrahij.nwtis.foi.org/">

<xs:element name="dajAdresuZaUredjaj" type="tns:dajAdresuZaUredjaj"/>

<xs:element name="dajAdresuZaUredjajResponse" type="tns:dajAdresuZaUredjajResponse"/>

<xs:element name="dajMeteoPodatakZaUredjaj" type="tns:dajMeteoPodatakZaUredjaj"/>

<xs:element name="dajMeteoPodatakZaUredjajResponse" type="tns:dajMeteoPodatakZaUredjajResponse"/>

<xs:element name="dajMeteoPodatkeZaIoTUIntervalu" type="tns:dajMeteoPodatkeZaIoTUIntervalu"/>

<xs:element name="dajMeteoPodatkeZaIoTUIntervaluResponse" type="tns:dajMeteoPodatkeZaIoTUIntervaluResponse"/>

<xs:element name="dajZadnjeMeteoPodatkeZaUredjaj" type="tns:dajZadnjeMeteoPodatkeZaUredjaj"/>

<xs:element name="dajZadnjeMeteoPodatkeZaUredjajResponse" type="tns:dajZadnjeMeteoPodatkeZaUredjajResponse"/>

<xs:element name="nZadnjihMeteoPodatkaZaUredjaj" type="tns:nZadnjihMeteoPodatkaZaUredjaj"/>

<xs:element name="nZadnjihMeteoPodatkaZaUredjajResponse" type="tns:nZadnjihMeteoPodatkaZaUredjajResponse"/>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nZadnjihMeteoPodatkaZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nZadnjihMeteoPodatkaZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatakZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatakZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaIoTUIntervalu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="from" type="xs:long"/>
<xs:element name="to" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaIoTUIntervaluResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>